<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('商品列表')">
</head>
<body>
<script type="text/javascript" src="/js/common/n_nav.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<script type="text/javascript" src="/js/common/shade.js"></script>
<script>
    $(function () {
        App.loadProductCategoriesNav()
        App.flashCart()
    })
</script>
<div th:replace="common::commonSoubg"></div>
<div th:replace="common::commonSearchBar"></div>
<div th:replace="common::commonMenu('none')"></div>
<div class="i_bg">
    <div class="content mar_20">
        <div class="l_history">
            <div class="his_t">
                <span class="fl">浏览历史</span>
                <span class="fr"><a href="#">清空</a></span>
            </div>
            <ul>
                <li>
                    <div class="img"><a href="#"><img src="/images/his_1.jpg" width="185" height="162"/></a></div>
                    <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                        <font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/images/his_2.jpg" width="185" height="162"/></a></div>
                    <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                        <font>￥<span>768.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/images/his_3.jpg" width="185" height="162"/></a></div>
                    <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                        <font>￥<span>680.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/images/his_4.jpg" width="185" height="162"/></a></div>
                    <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                        <font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
                <li>
                    <div class="img"><a href="#"><img src="/images/his_5.jpg" width="185" height="162"/></a></div>
                    <div class="name"><a href="#">Dior/迪奥香水2件套装</a></div>
                    <div class="price">
                        <font>￥<span>368.00</span></font> &nbsp; 18R
                    </div>
                </li>
            </ul>
        </div>
        <div class="l_list">
            <div class="list_t">
            	<span class="fl list_or">
                	<a href="#" class="now">默认</a>
                    <a href="#">
                    	<span class="fl">销量</span>
                        <span class="i_up">销量从低到高显示</span>
                        <span class="i_down">销量从高到低显示</span>
                    </a>
                    <a href="#">
                    	<span class="fl">价格</span>
                        <span class="i_up">价格从低到高显示</span>
                        <span class="i_down">价格从高到低显示</span>
                    </a>
                    <a href="#">新品</a>
                </span>
                <span class="fr" th:text="${'共发现' + productPageInfo.total} + '件'">共发现120件</span>
            </div>

            <div class="list_c">

                <ul class="cate_list">

                    <li th:each="product : ${productPageInfo.list}">
                        <div class="img"><a th:href="@{/products/} + ${product.id}"><img th:src="@{/images/} + ${product.filename}" width="210" height="185"/></a></div>
                        <div class="price">
                            <font>￥<span th:text="${product.price}"></span></font> &nbsp; 26R
                        </div>
                        <div class="name"><a href="#" th:text="${product.name}"></a></div>
                        <div class="carbg">
                            <a href="#" class="ss">收藏</a>
                            <a href="#" class="j_car" th:onclick="App.addCart([[${product.id}]],1)">加入购物车</a>
                        </div>
                    </li>
                </ul>

                <div class="pages" th:if="${productPageInfo.pages >= 1}">
                    <a href="#" class="p_pre" th:if="${productPageInfo.hasPreviousPage && productPageInfo.pageNum > 2}">首页</a>
                    <a href="#" class="p_pre" th:if="${productPageInfo.hasPreviousPage}">上一页</a>
                    <a href="#" th:each="num : ${#numbers.sequence(productPageInfo.pageNum, productPageInfo.pages)}" th:text="${num}" th:class="${num == productPageInfo.pageNum ? 'cur' : ''}"></a>
                    <span th:if="${productPageInfo.pages - productPageInfo.pageNum > 3}">...<a href="#" th:text="${productPageInfo.pages}"></a></span>
                    <a href="#" class="p_pre" th:if="${productPageInfo.hasNextPage}">下一页</a>
                </div>

                <div class="pages" th:if="${productPageInfo.pages == 0}">
                    暂无记录
                </div>


            </div>
        </div>
    </div>
    <div th:replace="common::commonFooter"></div>
</div>
<div th:replace="common::commonCartMessageBox"></div>
</body>
</html>